##### 조건문 - if

In [1]:
a = 1

if a > 0:
    print("a ==", a)
    print("positive number")
elif a == 0:
    print("a ==", a)
    print("zero")
else:
    print("a ==", a)
    print("negative number")

a == 1
positive number

In [2]:
list_data = [10, 20, 30, 40, 50]
dict_data = {'key1':1, 'key2':2}

if 45 in list_data:
    print("45 is in list_data")
else:
    print("45 is not in list_data")
    
if 'key1' in dict_data:
    print("key1 is in dict_data")
else:
    print("key1 is not in dict_data")

45 is not in list_data
key1 is in dict_data

##### 반복문 - for

In [3]:
for data in range(10):  # range() 함수는 시작 값 ~ 마지막 값-1
    print(data, " ", end = '')

0  1  2  3  4  5  6  7  8  9

In [4]:
for data in range(0, 10):  # range() 함수는 시작 값 ~ 마지막 값-1
    print(data, " ", end = '')

0  1  2  3  4  5  6  7  8  9

In [5]:
for data in range(0, 10, 2):  # range() 함수는 시작 값 ~ 마지막 값-1
    print(data, " ", end = '')

0  2  4  6  8

In [6]:
list_data = [10, 20, 30, 40, 50]

for data in list_data:
    print(data, " ", end = '')  # 줄 바꿈 없음

10  20  30  40  50

In [7]:
dict_data = {'key1':1, 'key2':2}

for data in dict_data:
    print(data, " ", end = '')  # 줄 바꿈 없음

key1  key2

In [8]:
for key, value in dict_data.items():
    print(key, " ", value)

key1   1
key2   2

##### 반복문 - list comprehension

In [9]:
list_data = [x**2 for x in range(5)]

print(list_data)

[0, 1, 4, 9, 16]

In [10]:
raw_data = [[1, 10], [2, 15], [3, 30], [4, 55]]

all_data = [x for x in raw_data]
x_data = [x[0] for x in raw_data]
y_data = [x[1] for x in raw_data]

print("all_data ==", all_data)
print("x_data ==", x_data)
print("y_data ==", y_data)

all_data == [[1, 10], [2, 15], [3, 30], [4, 55]]
x_data == [1, 2, 3, 4]
y_data == [10, 15, 30, 55]

##### 반복문 - while, break, continue

In [11]:
data = 5

while data >= 0:
    print("data ==", data)
    data -= 1

data == 5
data == 4
data == 3
data == 2
data == 1
data == 0

In [12]:
data = 5

while data >= 0:
    print("data ==", data)
    data -= 1
    
    if data == 2:
        print("break here")
        break
    else:
        print("continue here")
        continue

data == 5
continue here
data == 4
continue here
data == 3
break here

##### [예제 1] 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 end='' 을 이용하여 작성하시오
\*\*\*\*\*\*

In [13]:
rept = 5
while rept >= 0:
    print('*',end='')
    rept-=1

******

###### [예제 2] 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 end=''을 이용하여 작성하시오
\*\*\*\*\*<br>
\*\*\*\*<br>
\*\*\*<br>
\*\*<br>
\*<br>

In [14]:
rept = 5
while rept >= 1:
    for x in range(rept):
        print('*',end='')
    print()
    rept-=1

*****
****
***
**
*

##### [예제 3] 중첩 루프를 이용해 신문 배달을 하는 프로그램을 작성하시오. 단, 아래에서 arrears 리스트는 신문 구독료가 미납된 세대에 대한 정보를 포함하고 있는데, 해당 세대에는 신문을 배달하지 않아야 함
apart = [[101, 102, 103, 104], [201, 202, 203, 204], [301, 302, 303, 304], [401, 402, 403, 404]]<br>
arrears = [101, 203, 301, 404]

In [20]:
apart = [[101, 102, 103, 104], [201, 202, 203, 204], [301, 302, 303, 304], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]

for i in range(0, 4):
    for j in range(0, 4):
        if apart[i][j] not in arrears:
            print(apart[i][j],end=' ')
    print()

102 103 104
201 202 204
302 303 304
401 402 403

In [21]:
apart = [[101, 102, 103, 104], [201, 202, 203, 204], [301, 302, 303, 304], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]

for floor in apart:
    for house in floor:
        if house in arrears:
            continue
        else:
            print("Newspaper delivery: ", house)

Newspaper delivery:  102
Newspaper delivery:  103
Newspaper delivery:  104
Newspaper delivery:  201
Newspaper delivery:  202
Newspaper delivery:  204
Newspaper delivery:  302
Newspaper delivery:  303
Newspaper delivery:  304
Newspaper delivery:  401
Newspaper delivery:  402
Newspaper delivery:  403

##### [예제 4] 짝수 출력하는 다음 코드를 List Comprehension 으로 구현하시오
even_number = []

for data in range(10):<br>
&nbsp;&nbsp;&nbsp;&nbsp;if data % 2 == 0:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;even_number.append(data)

print(even_number)

In [25]:
even_number = [2*x for x in range(5)]
print(even_number)

[0, 2, 4, 6, 8]

In [26]:
even_number = [x for x in range(10) if x%2 == 0]
print(even_number)

[0, 2, 4, 6, 8]

##### [예제 5] my_list = ['A', 'B', 'C', 'D'] 에서, 파이썬 for 문과 슬라이싱을 이용하여 첫 번째 데이터를 제외하고 나머지 데이터를 출력하시오

In [17]:
my_list = ['A', 'B', 'C', 'D']
for i in range(1,4):
    print(my_list[i], end=' ')

B C D

In [28]:
my_list = ['A', 'B', 'C', 'D']
for data in my_list[1:]:
    print(data)

B
C
D

##### [예제 6] my_list = [3, 1, 7, 12, 5, 16] 에서, 3의 배수이거나 4의 배수를 화면에 출력하시오

In [18]:
my_list = [3, 1, 7, 12, 5, 16]
for i in range(6):
    if my_list[i]%3 == 0 or my_list[i]%4 == 0:
        print(my_list[i], end=' ')

3 12 16

In [29]:
my_list = [3, 1, 7, 12, 5, 16]
for data in my_list:
    if data%3 == 0 or data%4 == 0:
        print(data)

3
12
16

##### [예제 7] test_data = [[10, 20, 30], [1, 2, 3], [100, 200, 300]] 에 대하여, 다음의 xdata, tdata를 구하시오
xdata = [x[1:-1] for x in test_data]<br>
tdata = [x[-1] for x in test_data]

In [19]:
test_data = [[10, 20, 30], [1, 2, 3], [100, 200, 300]]
xdata = [x[1:-1] for x in test_data]
tdata = [x[-1] for x in test_data]

print(xdata)
print(tdata)

[[20], [2], [200]]
[30, 3, 300]