In [4]:
import numpy as np
import pandas as pd

### 예제 1-1

In [10]:
loaded_data = np.loadtxt('./(191116)titanic_train.csv', delimiter=',', dtype=np.float32)

ValueError: could not convert string to float: 'PassengerId'

### 예제 1-2

In [11]:
loaded_data = pd.read_csv('./(191116)titanic_train.csv')
print(loaded_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [13]:
print(loaded_data.shape)  # 행렬 처럼 보임!
print(type(loaded_data))  # 행렬 처럼 보이지만 DataFrame 형식임

(891, 12)
<class 'pandas.core.frame.DataFrame'>

### 예제 1-3

In [16]:
loaded_data = pd.read_csv('./(191116)titanic_train.csv').values  # values를 붙여 DataFrame이 아닌 numpy 형식으로 만들어줌
print(loaded_data)

[[1 0 3 ... 7.25 nan 'S']
 [2 1 1 ... 71.2833 'C85' 'C']
 [3 1 3 ... 7.925 nan 'S']
 ...
 [889 0 3 ... 23.45 nan 'S']
 [890 1 1 ... 30.0 'C148' 'C']
 [891 0 3 ... 7.75 nan 'Q']]

In [18]:
print(loaded_data.shape)  # 행렬 처럼 보임!
print(type(loaded_data))  # 위와 다르게 numpy 형식이 됨!
print(loaded_data[0])     # numpy 형식이 되어 데이터를 찍으면 확인 가능해짐

(891, 12)
<class 'numpy.ndarray'>
[1 0 3 'Braund, Mr. Owen Harris' 'male' 22.0 1 0 'A/5 21171' 7.25 nan 'S']